 
  .name {
      font-size: 20px;
      font-weight: 500;
      line-height: 0.2;
      text-align: center;
  }
  .tag {
      color: grey;
      font-size: 16px;
      text-align: center;
  }
  .location {
    composes: tag

  }